html {
      box-sizing: border-box;
    }
    .navbarHeader {
        height: 54px;
        width: auto;
        background-color: #00ba00;
    }
    .garis {
      margin-top: 288px;
      float: left;
      color: black;
    }
    .textHeader {
      font-family: consolas;
      font-size: 14pt;
      text-align: center;
      line-height: 52px;
      color: white;
    }
    .boxUtama {
      margin-left: 165px;
      width: 998px;
      margin-top: 32px;
      position: absolute;
      min-height: 428px;
      border: 4px solid #00ba00;
    }
    .boxChat {
      margin-left: 165px;
      width: 998px;
      margin-top: 462px;
      position: absolute;
      min-height: 88px;
      border: 4px solid #00ba00;
    }
    .textarea {
      background-color: #00ba00;
      border: 1px solid blue;
      color: #606B88;
      padding: 0.5em;
      width: 100%;
      -webkit-transition: all 0.35s ease-in;
    
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    .kontainer {
      position: fixed;
      top: 20%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
    }
    .sending {
      margin-left: 32px;
      margin-top: 40px;
      margin-bottom: 16px;
      float: left;
    }
    .textChat {
      border-radius: 12px;
      border-color: #00ba00;
      margin-left: 26px;
      margin-top: 30px;
      margin-bottom: 16px; 
      float: left;
      width: 384px;
      height: 64px;
    }
    .btn {
      background-color: #595a5e;
      border: 1px solid #549EAF;
      color: #549EAF;
      cursor: pointer;
      display: inline-block;
      font-family: "consolas";
      font-size: 20px;
      line-height: 43px;
      padding: 0 0.75em;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.35s ease-in;
    }
    .btn:hover {
      background-color: #595a5e;
      color: #595a5e;
    }
    .debug {
      bottom: 0;
      position: fixed;
      right: 0;
    }
    .debug__content {
      font-size: 14px;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.35s ease-in;
    }
    .debug__content.is-active {
      display: block;
      max-height: 500px;
    }
    .debug__btn {
      width: 100%;
    }
    .bot {
      border: 2px solid #595a5e;
      border-radius: 21px;
      margin-top: 1px;
      margin-left: 18px;
      float: left;
    }
    .spoken-response {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.35s ease-in;
      margin-top: 80px;
    }
    .garisLurus {
      border: 1px solid #00ba00;
      height: 44px;
      width: 1px;
      float: left;
      margin-left: 12px; 
    }
    .spoken-response.is-active {
      max-height: 400px;
    }
    .spoken-response__text {
      align-content: center;
      text-align: center; 
      float: left;
      width: 868px;
      margin-left: 18px;
      margin-top: auto;
      background-color: #595a5e;
      color: white;
      padding: 1em;
      border-radius: 18px;
    }